body{
width: 960px;

margin: auto;
background-color:#000000;
}
body main{
 background-color:#090909;
 color: gray; 
}
#Welcome {
    color:#2b5564;

    background-color: #1d1d1d;
    text-align: center;


}

body main {
 font-family: fantasy;
 font-style: italic; 
 line-height: 21px;
}
body main ol li:nth-child(odd){
background-color: #0589aa;
color:#203e4a;
font-weight: bolder;

}
img{
    display: block; 
    margin:auto;
    width: 13em;
    border-style: solid;
    border-radius: 1em;
    box-shadow: -20px 15px 10px -5px #203e4a;
    
    
    }